// app global css
.specialheader {
  min-height: 62px;
}
.grayscale {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.set-position {
  position: inherit;
  bottom: 1rem;
  text-align: center;
}